/target/classes/main/resources/pieces/black_bishop.png
/target/classes/pieces/black_bishop.png
/target/classes/main/resources/pieces/black_king.png
/target/classes/pieces/black_king.png
/target/classes/main/resources/pieces/black_knight.png
/target/classes/pieces/black_knight.png
/target/classes/main/resources/pieces/black_pawn.png
/target/classes/pieces/black_pawn.png
/target/classes/main/resources/pieces/black_queen.png
/target/classes/pieces/black_queen.png
/target/classes/main/resources/pieces/black_rook.png
/target/classes/pieces/black_rook.png
/target/classes/main/resources/sounds/capture.mp3
/target/classes/sounds/capture.mp3
/target/classes/main/resources/sounds/castle.mp3
/target/classes/sounds/castle.mp3
/target/classes/fxml/chessboard.fxml
/target/classes/main/resources/fxml/chessboard.fxml
/target/ChessSimulator-1.0.0.jar
/target/classes/config/default_layout.csv
/target/classes/main/resources/config/default_layout.csv
/target/classes/main/resources/logback.xml
/target/classes/logback.xml
/target/classes/main/resources/sounds/move-check.mp3
/target/classes/sounds/move-check.mp3
/target/classes/main/resources/sounds/move-self.mp3
/target/classes/sounds/move-self.mp3
/target/classes/main/resources/pieces/placeholder.png
/target/classes/pieces/placeholder.png
/target/maven-archiver/pom.properties
/target/classes/main/resources/sounds/promote.mp3
/target/classes/sounds/promote.mp3
/target/classes/main/resources/pieces/white_bishop.png
/target/classes/pieces/white_bishop.png
/target/classes/main/resources/pieces/white_king.png
/target/classes/pieces/white_king.png
/target/classes/main/resources/pieces/white_knight.png
/target/classes/pieces/white_knight.png
/target/classes/main/resources/pieces/white_pawn.png
/target/classes/pieces/white_pawn.png
/target/classes/main/resources/pieces/white_queen.png
/target/classes/pieces/white_queen.png
/target/classes/main/resources/pieces/white_rook.png
/target/classes/pieces/white_rook.png
